* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.header {
    background: linear-gradient(rgb(248, 221, 171), rgba(128, 0, 128, 0.411) );
    height: 100px;
}

.city-searched {
    margin-top: 10px;
    margin-left: 10px;
}

.check-weather {
    margin-top: 10px;
    margin-left: 10px;
}

.recentCity { 
    width: 100%;
    margin: 2px;

}

.input {
    width: 100%
}

.button {
    width: 100%
}

.boxBig {
    width: 100%;
    border: 10px solid black;
    background-color: red;
}

.boxSml {
    background-color: aqua;
    border: 3px solid black;
    display: flex;

}

.boxTal {
    height: 100%;
}

.boxSml2 {
    width: 100%;
}

