* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

body {
    background-color: aliceblue;
}

.header {
    background: linear-gradient(rgb(248, 221, 171), rgba(128, 0, 128, 0.411) );
    height: 100px;
}

.city-searched {
    margin-top: 10px;
    margin-left: 10px;
}

.check-weather {
    margin-top: 10px;
    margin-left: 10px;
}

.recentCity { 
    width: 100%;
    margin: 2px;

}

.input {
    width: 100%
}

.button {
    width: 100%
}

.box-big {
    width: 100%;
    background-color: aliceblue;
}

.boxTal {
    background-color: aliceblue;
}

.current-main {
    background-color: cornflowerblue;
    margin: 10px;
}

.current-main p {
    margin: 10px;
}

.current-main h2 {
    margin: 10px;
}

.current-main img {
    margin: 10px;
}

.uvi {
    width: 5%;
    border-radius: 5%;
}


.five p {
    margin: 10px;

}

.futureDivBox {
    border: 2px solid black;
    margin: 10px;
    border-radius: 5%;
    background-color: cornflowerblue;
}

.card-header {
    display: flex;
    background-color: cornflowerblue;
    justify-content: center;
}

.current-main {
    margin: 10px;
}

